@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.footer {
    padding: 60px 0;
    background-color: $color-bg1;
    border-top: 1px solid $color-dark4;
}

.topBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone {
    font-size: 28px;
    font-family: $ff-bold;
}

.wrapper {
    margin-top: 25px;

    display: flex;
    justify-content: space-between;
}

.contacts {
    a, p {
        margin-top: 15px;
        font-size: 18px;
    }
    
    a {
        transition: color 0.3s;

        &:hover {
            color: $color-accent1;
        }
    }
}

.bottom {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
        margin-top: 15px;
        text-align: right;
        display: block;

        transition: color 0.3s;

        &:hover {
            color: $color-accent1;
        }
    }
}

.yandex {
    padding: 10px;
    width: 100%;
    max-width: 150px;
    background-color: white;
}

@media (max-width: 1110px) {
    .contacts {
        max-width: 25%;

        a, p {
            font-size: 16px;
        }
    }
}

@media (max-width: 950px) {
    .footer {
        padding: 30px 0;
    }

    .phone {
        display: none;
    }

    .contacts {
        display: none;
    }

    .bottom {
        width: 100%;
        max-width: none;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a {
            max-width: 180px;
        }
    }
}

@media (max-width: 360px) {
    .bottom {
        flex-direction: column;
        align-items: flex-start;

        a {
            text-align: left;
            order: -1;
            margin-bottom: 15px;
        }
    }
}