@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.section {
    margin: 30px 0;
    padding: 60px 0;
    position: relative;
}

.inner {
    p {
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
        line-height: 130%;

        a {
            font-family: $ff-bold;
        }

        &:first-of-type {
            margin-top: 30px;
        }
    }
}

.bg {
    position: absolute;
    object-fit: cover;
    border-radius: 40px;
    width: 95%;

    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.form {
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
        margin: 0 15px;
    }
}

.select {
    min-width: 234px;
}

@media (max-width: 950px) {
    .section {
        padding-bottom: 60px;
    }

    .bg {
        height: 300px;
        border-radius: 15px;
    }

    .inner {
        p {
            font-size: 16px;
        }
    }
}

@media (max-width: 767px) {
    .bg {
        height: 450px;
    }

    .form {
        padding: 0 20px;
        flex-direction: column;

        & > * {
            margin: 10px 0;
            width: 100%;
        }
    }
}