@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.headerBottom {
    padding-top: 21px;
}

.headerBottomInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 950px) {
    .headerBottom {
        padding: 8px 0;
        background-color: $color-bg1;
    }
}
