@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";


.btn {
    padding: 12px 20px;
    width: 100%;

    display: flex;
    align-items: center;
    // justify-content: center;
    text-align: center;

    border-radius: 12px;
    border: 2px solid $color-accent1;

    transition: color 0.3s, border-color 0.3s, background-color 0.3s;

    span {
        color: $color-accent1;
        white-space: nowrap;
        font-size: 16px;
        line-height: 110%;
        font-family: $ff-bold;

        transition: color 0.3s;
    }

    svg {
        margin-right: 10px;

        path {
            fill: $color-accent1;
            transition: stroke 0.3s, fill 0.3s;
        }
    }

    &:hover {
        border-color: #8F038A;

        span {
            color: #8F038A;
        }

        svg {
            path {
                fill: #8F038A;
            }
        }

        .plus {
            &::before,
            &::after {
                border-color: #8F038A;
            }
        }
    }
}

.iconsWrapper {
    position: relative;
}

.plus {
    position: absolute;
    top: 25%;
    left: 40%;
    transition: transform 0.5s;

    &::before,
    &::after {
        content: "";
        display: block;
        width: 8px;
        height: 2px;
        background-color: $color-accent1;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.doneIcon {
    position: absolute;
    left: 9px;
    top: 1px;

    transform: scale(0);
    transition: transform 0.5s;

    path {
        transition: stroke 0.3s;
    }
}

.active {
    background-color: $color-accent1;

    span {
        color: white;
    }

    .cart {
        path {
            fill: white;
        }
    }

    .plus {
        transform: scale(0);

        .plus {
            &::before,
            &::after {
                border-color: white;
            }
        }
    }

    .doneIcon {
        transform: scale(1);
    }

    &:hover {
        background-color: white;

        .cart {
            path {
                fill: #8F038A;
            }
        }

        .doneIcon {
            path {
                fill: transparent;
                stroke: #8F038A;
            }
        }
    }
}

.small {
    padding: 12px;

    span {
        display: none;
    }
}

.bid {
    span {
        display: block;
    }
}