@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.btn {
    padding: 13px 20px;
    border-radius: 12px;
    border: 2px solid transparent;

    font-family: $ff-bold;
    font-size: 16px;
    line-height: 110%;

    transition: color 0.5s, background-color 0.5s, border-color 0.5s;
}

.white {
    color: $color-accent1;
    background-color: $color-white;

    &:hover {
        color: $color-white;
        background-color: $color-accent1;
        border-color: $color-white;
    }
}

.dark {
    color: $color-white;
    background-color: $color-dark1;

    &:hover {
        background-color: #031340;
    }
}

.gray {
    color: $color-accent1;
    background-color: $color-companion1;

    &:hover {
        background-color: #E0E0E0;
    }
}

.transparent {
    background-color: transparent;
    border-color: $color-dark3;

    color: $color-dark3;

    &:hover {
        color: white;
        background-color: $color-accent2;
        border-color: $color-accent2;
    }
}