@import "./../../../styles/variables/colors";

.section {
    padding-bottom: 30px;
}

.list {
    margin-top: 45px;
    padding-top: 10px;

    border-top: 1px solid $color-companion3;

    li {
        padding: 24px 60px;

        border-bottom: 1px solid $color-companion3;

        cursor: pointer;
    }
}

@media (max-width: 950px) {
    .list {

        li {
            padding: 24px 10px;
            padding-right: 30px;
        }
    }
}