$color-dark1: #161C2D;
$color-dark2: #343A40;
$color-dark3: #707786;
$color-dark4: #989EA9;

$color-accent1: #B81AB2;
$color-accent2: #3F86D3;

$color-companion1: #F0F0FE;
$color-companion2: #B0D2F8;
$color-companion3: #EDEDED;

$color-bg1: #F6F7FA;
$color-bg2: #F8F9FA;
$color-bg3: #FAFAFA;

$color-white: #FFFFFF;
$color-error: #D3683F;
