@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.subTitle {
    margin-top: 5px;

    font-size: 20px;
    font-family: $ff-regular;
    text-align: center;

    color: $color-dark3;
}

@media (max-width: 950px) {
    .subTitle {
        font-size: 14px;
        line-height: 120%;
    }
}