@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.link {
    padding: 10px 15px;

    font-size: 16px;
    font-family: $ff-bold;
    white-space: nowrap;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 2px solid transparent;

    transition: color 0.3s, background-color 0.3s, border-color 0.3s;

    svg {
        margin-left: 25px;
    }
}

.dark {
    color: $color-white;
    background-color: $color-dark1;

    svg {
        path {
            stroke: $color-white;
        }
    }

    &:hover {
        background-color: #031340;
    }
}

.blue {
    color: white;
    background-color: $color-accent2;

    &:hover {
        color: $color-accent2;
        background-color: white;
        border-color: $color-accent2;
    }
}

.blueTransparent {
    color: $color-accent2;
    background-color: white;
    border-color: $color-accent2;

    &:hover {
        color: white;
        background-color: $color-accent2;
    }
}