@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inputWrapper {
    display: flex;
    input {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        border: none;
        background-color: transparent;

        padding-left: 43px;
        padding-right: 95px;

        font-family: $ff-bold;
    }

    span {
        position: absolute;
        right: 35px;
        top: 50%;
        transform: translateY(-50%);
    }
}

.btn {
    padding: 24.5px 18px;
    padding-right: 12px;
    position: relative;
    z-index: 1;

    &:last-of-type {
        padding-right: 22px;
        padding-left: 22px;
    }
}

.plus {
    position: relative;

    &::before,
    &::after {
        content: "";
        display: block;
        width: 10px;
        height: 2px;
        background-color: white;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &::after {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

.minus {
    display: block;
    width: 10px;
    height: 2px;
    background-color: white;
}

.dark {
    color: white;
    background-color: $color-dark1;

    .inputWrapper {

        input {
            color: white;
        }
    }
}