@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper {
    z-index: 10;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(22, 28, 45, 0.14);
    border-radius: 5px;
    max-width: 120px;

    img {
        width: 100%;
        height: auto;
    }

    p {
        padding: 3px 5px;
        padding-top: 0;
        font-size: 13px;
        line-height: 120%;
        position: relative;
    }
}