@import "./../../../styles/variables/fonts";
@import "./../../../styles/variables/colors";

.section {
    background-color: $color-bg1;
}

.list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    li {
        margin-top: 70px;
    }
}


@media (max-width: 950px) {
    .list {
        flex-direction: row;
        justify-content: space-between;

        li {
            margin-top: 70px;
            width: 48%;
        }
    }
}

@media (max-width: 690px) {
    .list {
        li {
            width: 100%;
        }
    }
}